.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    border: none;
    background-color: transparent;
    cursor: none;
}
.photo {
    max-height: 80vh;
    border-radius: 8px;
}
